{%extends 'skeleton.html'%}
{%load static%}
{%block ad%}

<p>Пользовательские</p>
<a class="url" href = '{% url "index"%}' >вернутся на главную</a> 
<p>________________________________________________________________________</p>


<h3>Ценовые категории:</h3>
<ol>
{%for category in object_list%}
<li><a class="url" href = "{% url 'forum' pk=category.pk %}">{{category.name}}</a>
{%endfor%}
</li>
</ol>

<p>________________________________________________________________________</p>
    <h2 style="color: rgb(32, 163, 189);" >Внимание Акция!</h2>
    <p>
        Позвоните нам прямо сейчас и получите скидку
        на кросовки с сосисками, и другие товары!
    </p> 
    <p>
        Акция действует с 05.08.2025, до 05.09.2025.
            Не пропустите!!!
    </p>

    <img src="{%static 'menu/imgs/spesical_1.jpg' %}">

            <h3>Звоните +359 029 582 206</h3>


{%endblock%}