{%extends 'skeleton.html'%}
{%load static%}
{%block ad%}

    <h2>
        категория: {{category.name}}
    </h2>
    {% for objects in object %}
        <div class="card" style="width: 18rem;">
                <img src="{{object.image.url}}" class="card-img-top" alt="{{object.image}}"> 
            <div class="card-body">
                <h5 class="card-title">{{object.title}}</h5>
                <p class="card-text">{{object.description}}</p>
                <p class="card-text">{{object.price}}</p>

            </div>
        </div>
    {% endfor %}


{%endblock%}