{%extends 'skeleton.html'%}
{%load static %}
{%block ad%}



<p class="beta">Кросовки</p>
<a class="url" href = '{% url "index"%}' >вернутся на главную</a> 
<p>________________________________________________________________________</p>


<img src="{%static 'menu/imgs/for_mans1.jpg' %}">
<h4>Кросовки для мужщин</h4>
<p>9$ за пару</p>
<p>в наличии 36 пар</p>    
<p>размер: 41 - 45</p>
<p>Бренд: секонд хенд</p>
<input type="button" value="Положить в Корзину">
<p>________________________________________________________________________</p>


<img src="{%static 'menu/imgs/for_kids1.jpg' %}">
<h4>Кросовки для детей</h4>
<p>31$ за пару</p>
<p>в наличии 28 пар</p>    
<p>размер: 27 - 36</p>
<p>Бренд: adidas</p>
<input type="button" value="Положить в Корзину">
<p>________________________________________________________________________</p> 


<img src="{%static 'menu/imgs/for_womens1.jpg' %}">
<h4>Кросовки для женщин</h4>
<p>73$ за пару</p>
<p>в наличии 24 пар</p>    
<p>размер: 35 - 39</p>
<p>Бренд: armani</p>
<input type="button" value="Положить в Корзину">



{%endblock%}