{%extends 'skeleton.html'%}
{%load static %}
{%block ad%}



<h4>*Spesical*</h4>
<p>Самые необычные товары со всего мира!</p>
<a class="url" href = '{% url "index"%}' >вернутся на главную</a> 
<p>________________________________________________________________________________________________________________________</p>



<img src="{%static 'menu/imgs/spesical_1.jpg' %}">
<h4>Кросовки с сосисками</h4>
<p>199$ за штуку(правая или левая определяется рандомно)</p>
<p>в наличии 11 левых и 10 правых</p>    
<p>размер: 15 - 43</p>
<p>Бренд: adidas</p>
<input type="button" value="Положить в Корзину">
<p>________________________________________________________________________________________________________________________</p>



<img src="{%static 'menu/imgs/dino_jump.png' %}">
<h4>Компьютерная игра Dino Run </h4>
<p>Ирайте с нейро сетью за бегающего тиранозавра!</p>
<p>4$ за скачивание</p>    
<p>Размер: 58,3 МБ (61 204 983 байт)</p>
<input type="button" value="Положить в Корзину">
<p>________________________________________________________________________________________________________________________</p>



<img src="{%static 'menu/imgs/spesical_3.jpg' %}">
<h4>Компьютерная игра Super craft </h4>
<p>При каждом новом запуске, создается уникальный мир и освещение, абсолютно не похожее на предыдущее</p>
<p>6$ за скачивание</p>    
<p>Размер: 216 МБ (227 225 392 байт)</p>
<input type="button" value="Положить в Корзину">
<p>________________________________________________________________________________________________________________________</p>



<img src="{%static 'menu/imgs/gold.png' %}">
<h4>Кросовки золотые(вылитые из чистого золота)</h4>
<p>4000 000$ за штуку(правая или левая определяется рандомно)</p>
<p>в наличии 3 левых и 2 правых</p>    
<p>размер: 20</p>
<!-- <p>Бренд: adidas</p> -->
<input type="button" value="Положить в Корзину">
<!-- <p>________________________________________________________________________________________________________________________</p> -->



{%endblock%}