<!DOCTYPE html>
<html>
    <head>
        <title>{{Title}}</title>    
        
    </head>
    <body style="font-family: sans-serif; font-size: 14px; line-height: 1.5; color: #f00606; background-color: #fff; ">

        {%block ad%}
        
        {%endblock%}        

        <ol>
        <h2>Реклама</h2>
        <p>
            В интернет магазине py shop проходит акция! 
            С 05.08.2025 по 05.09.2025 вы можете приобрести кросовки с сосисками со скидкой 15%!
            А также 3 любых товара со скидкой 10%
            Скорее переходите по ссылке: http:tdthj/py/shop/umre Не пропустите, я проверю!
        </p>
        </ol>

    </body>
</html>