{%load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{Title}}</title>    
        <link rel="stylesheet" href="{%static  'menu/css/style.css'   %}">
    </head>
    <body style="font-family: sans-serif; padding-left: 110px; font-size: 15px; line-height: 1.3; color: rgb(238, 233, 233); background-color: #0e0f0f; ">

        <h1>PY SHOP</h1>

        {%block ad%}
        
        {%endblock%}        
        
        <hr>
            <input type="button" value="Поддержать сайт донатом">
            <input type="button" value="Открыть Корзину">
            <h4>@2025 pyshop - all rights reserved</h4>
        

    </body>
</html>