{%load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{Title}}</title>    
        <link rel="stylesheet" href="{%static  'menu/style.css'   %}">
    </head>
    <body>

        <h1>PY SHOP</h1>

        {%block ad%}
        
        {%endblock%}        
        
        <p>________________________________________________________________________</p>
            <input type="button" value="Поддержать сайт донатом">
            <input type="button" value="Открыть Корзину">
            <h4>@2025 pyshop - all rights reserved</h4>

    </body>
</html>