{%extends 'skeleton.html'%}
{%load static %}
{%block ad%}

    
    <!-- <h1>PY SHOP</h1> -->
    <p style="font-size: 25px; line-height: 0.9;" >beta</p>
    <hr>

    <p>Наши товары:</p>
    
    <ol>
        <li>Куртки</li>
        <li>Штаны</li>
        <li><a class="url" href = "{% url 'page1' %}">Кросовки</a></li>
        <li>Алмазные нагрудники(скоро)</li>
        <li>СЃРµР№С‡Р°СЃ</li>
        <li>Пользовательские(скоро)</li>
        <li><a class="url" href = "{% url 'page0' %}">Oсобое</a></li>
    </ol>    

    

    <hr>
    <h2 style="color: rgb(101, 223, 35);" >Внимание Акция!</h2>
    <p>
        Позвоните нам прямо сейчас и получите скидку
        на кросовки с сосисками, и другие товары!
    </p> 
    <p>
        Акция действует с 05.08.2025, до 05.09.2025.
            Не пропустите!!!
    </p>

    <img src="{%static 'menu/imgs/spesical_1.jpg' %}">

            <h3>Звоните +359 029 582 206</h3>

       


{%endblock%}    
