{%extends 'skeleton.html'%}
{%load static %}
{%block ad%}

    
    <!-- <h1>PY SHOP</h1> -->
    <p style="color: rgb(2, 2, 7); font-size: 25px; line-height: 0.9;" >beta</p>
    <hr>

    <p>Наши товары:</p>
    
    <ol>
        <p>куртки</p>
        <p>штаны</p>
        <p>алмазные нагрудники(скоро)</p>
        <p>СЃРµР№С‡Р°СЃ</p>
    </ol>    

    

    <hr>
    <h2 style="color: red;" >Внимание Акция!</h2>
    <p>Позвоните нам прямо сейчас и получите скидку
        на кросовки с сосисками, и другие товары! 
        Акция действует с 05.08.2025, до 05.09.2025.
            Не пропустите!!!
    </p>

    <img src="{%static 'menu/imgs/spesical_1.jpg' %}">

            <h3>Звоните +359 029 582 206</h3>

        


{%endblock%}    
