{%extends 'menu/skeleton.html'%}
{%block ad%}

<h3 style="font-size: 23px;" >Категории:</h3>

<ul>
<p>пусто</p>
{%for category in object_list%}
<li><a href = "{% url 'forum' pk=category.pk %}">{{category.name}}</a></li>
{%endfor%}
</ul>

<hr>
<h4>Правила поведения на py reddit</h4>
<p>
    На данном сайте представлена возможность обсуждать разные темы, и отвечать на разные вопросы.
    Но иногда мнения людей не совпадают, что может привести к агресии и оскорблениям.
    Для избежания таких ситуаций ниже представлены случаи за которые можно получить бан.
</p>
<ul>
<li>матюки - бан</li>
<li>оскорбления других учасников - бан</li>
<li>спам/флуд - бан</li>
<li>создание котегории 'политика' - бан</li>
<li>оскорбления админов - бан</li>
</ul>


{%endblock%}