<!DOCTYPE html>
<html>
    <head>
        <title>{{Title}}</title>    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    </head>
    <body style="font-family: sans-serif; font-size: 15px; line-height: 1.5; background-color: #fff; ">
        
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->
        <ol><h2 style="color: rgb(56, 56, 161);" >PY REDDIT</h2>
        <p>Интерактивное обсуждение</p>
        <hr>

        {%block ad%}
        
        {%endblock%}        
        
        <hr>
        <h3 style="color: rgb(195, 4, 4);" >Реклама</h3>
        <p>
            В интернет магазине py shop проходит акция! 
            С 05.08.2025 по 05.09.2025 вы можете приобрести кросовки с сосисками со скидкой 15%!
            А также 3 любых товара со скидкой 10%
            Скорее переходите по ссылке: https://pyshop.com/pyshop. Не пропустите, я проверю!
        </p>
        <hr>
        <input type="button" value="Поддержать сайт донатом">
        <p>@py reddit - all rights reserved</p>
        </ol>

    </body>
</html>